* {
    border: 2px solid red;
    }
h1,h3,h4,p,a,li {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    margin: 15px;
    }
h3 {
    text-align: center;
    }
.topic {
    height:auto;
    width: 100vw;
}


